.bookSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 200px;
    margin-right: 200px;
}

.bookListTitle {
    font-size: 60px;
    font-weight: bold;
    margin-top: 50px;
    margin-bottom: 20px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 15px;
    padding-bottom: 10px;
    border-radius: 50px;
    background-color: #334B35;
    color: #FDAD16;
    text-align: center;
    margin-bottom: 50px;
}

.bookList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
}
