.breadCump {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 200px;
    background-color: #334B35;
    margin-bottom: 50px;
}

.breadCump h2 {
    color: #FDAD16;
    font-size: 50px;
    font-weight: normal;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.breadCump nav span {
    color: #FDAD16;
    font-size: 20px;
    font-weight: normal;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.breadCump nav a {
    color: #FDAD16;
    font-size: 20px;
    font-weight: normal;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.breadCump nav a:hover {
    color: #FFFBE6;
}