.wbfuReasonCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    max-width: 400px;
    position: relative;
    background-color: #f5f5f5;
    border-radius: 10px;
    height: 500px;
    width: 100%;
    min-width: 280px;
}

@keyframes tilt-shake {
    0% {
        transform: rotate(0deg);
    }

    20% {
        transform: rotate(-3deg);
    }

    40% {
        transform: rotate(3deg);
    }

    60% {
        transform: rotate(-2deg);
    }

    80% {
        transform: rotate(2deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

.wbfuReasonCard:hover {
    animation: tilt-shake 0.5s;
}

.wbfuReasonCard img {
    width: 100px;
    border-radius: 50%;
    border: 5px solid;
    margin-bottom: 10px;
}

.wbfuReasonCard h3 {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 20px;
    color: #2D2D2D;
}

.wbfuReasonCard p {
    font-size: 24px;
    text-align: center;
    top: 200px;
}

/* Responsive Design */
@media (max-width: 768px) {
    .wbfuReasonCard {
        max-width: 350px;
        height: 400px;
        min-width: 250px;
    }
    
    .wbfuReasonCard h3 {
        font-size: 24px;
    }
    
    .wbfuReasonCard p {
        font-size: 18px;
    }
    
    .wbfuReasonCard img {
        width: 80px;
        border: 4px solid;
    }
}

@media (max-width: 480px) {
    .wbfuReasonCard {
        max-width: 300px;
        height: 350px;
        min-width: 200px;
    }
    
    .wbfuReasonCard h3 {
        font-size: 20px;
    }
    
    .wbfuReasonCard p {
        font-size: 16px;
    }
    
    .wbfuReasonCard img {
        width: 60px;
        border: 3px solid;
    }
}

